doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Title
  body
    header pdftry
    object(data="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20210101201653/PDF.pdf", width="800", height="500")
