doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Upload Details
    // STYLESHEET
    link(type="text/css", rel="stylesheet", href="stylesheet/3dhop.css")
  body
    header Add Details
    .UploadForm
      form(name='ModelDetails' action='/insertModel' method='post')
        label(for="type") Type:
        br
        input#type(type="text", name="type")
        br
        br
        label(for="description") Description:
        br
        input#description(type="text", name="description")
        br
        input(type='submit' value='Save')



