doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    title Project
    // STYLESHEET
    link(type="text/css", rel="stylesheet", href="stylesheet/3dhop.css")
  body
    header Project
        a(href="/Models")
          button.add-review-button Models
            i.fas.fa-arrow-right
        a(href="/Images")
          button.add-review-button Images
            i.fas.fa-arrow-right
        a(href="/Documents")
          button.add-review-button Documents
            i.fas.fa-arrow-right
