head
    meta(charset='UTF-8')
    title SignUp
    link(rel='stylesheet', href="/stylesheet/3dhop.css")
    script(src="JS_NAIL4U.js", defer)
    script(src='https://use.fontawesome.com/a6f0361695.js', defer)
    script(src='http://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css', defer)
body
    nav(class="topnav")
        img( class= "logo" src='/Images/glass.jpeg' alt='Logo')
    .container-newAccount
        .title
            header Sign Up
        form(class="newAccountForm" name='NewAccount' action='/insertNewAccount' onsubmit='return ValidForm()' method='post')
            .form
                label(for='email')
                br
                input#email(type='email' name='email' placeholder='Email' required)
                br
                label(for='password')
                br
                input#password(type='password' name='password' placeholder='Password' required)
                br
                label(for='first_name')
                br
                input#first_name(type='text' name='first_name' placeholder='First Name' required)
                br
                label(for='last_name')
                br
                input#last_name(type='text' name='last_name' placeholder='Last Name' required)
                br
                label(for='gender')
                br
                input#gender(type='text' name='gender' placeholder='Gender' required)
                br
                label(for='phone_number')
                br
                input#phone_number(type='text' name='phone_number' placeholder='Phone Number' required)
                br
                label(for='institution')
                br
                input#institution(type='text' name='institution' placeholder='Institution' required)
                br
                label(for='research_field')
                br
                input#research_field(type='text' name='research_field' placeholder='Research Field' required)
                br
                br
                br
                input(type='submit' value='Sign Up')